:root {
    --background-color: #FAFAF9;
    --card-color: #fff;
    --card-tag-background-color: #E6D6FC;
    --card-tag-text-color: #883AE1;
    --card-heading-color: #20293A;
    --card-main-text-color: #6C727F;
    --card-devider-color: #E5EAF0;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    font-family: "Sora", system-ui;
    font-style: normal;
    font-size: 14px;
    padding-top: 164px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.minimal-card {
    margin: auto;
    background: var(--card-color);
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 30px 100px 0 rgba(17, 23, 41, 0.05);
}

.card-image {
    width: 336px;
    height: 152px;
    border-radius: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.card-content {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 336px;
    align-items: flex-start;
}

.card-tag {
    margin-bottom: 16px;
    padding: 6px 16px;
    border-radius: 16px;
    background: var(--card-tag-background-color);
    color: var(--card-tag-text-color);
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
}

.card-heading {
    margin-bottom: 6px;
    color: var(--card-heading-color);
}

.card-main {
    margin-bottom: 20px;
    color: var(--card-main-text-color);
    font-weight: 200;
    text-wrap: wrap;
    text-align: start;
}

.card-footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    border-top: 1px var(--card-devider-color) solid;
}

.card-footer-text {
    font-size: 12px;
    color: var(--card-main-text-color);
}
